:root {
	// basic color
	--youngs-color-white: #ffffff;
	--youngs-color-black: #000000;
	// color-blue: primary
	--youngs-color-blue-50: #ebf8ff;
	--youngs-color-blue-100: #bee3f8;
	--youngs-color-blue-200: #90cdf4;
	--youngs-color-blue-300: #63b3ed;
	--youngs-color-blue-400: #4299e1;
	--youngs-color-blue-500: #3182ce;
	--youngs-color-blue-600: #2b6cb0;
	--youngs-color-blue-700: #2c5282;
	--youngs-color-blue-800: #2a4365;
	--youngs-color-blue-900: #1a365d;
	// color-teal: success
	--youngs-color-teal-50: #e6fffa;
	--youngs-color-teal-100: #b2f5ea;
	--youngs-color-teal-200: #81e6d9;
	--youngs-color-teal-300: #4fd1c5;
	--youngs-color-teal-400: #38b2ac;
	--youngs-color-teal-500: #319795;
	--youngs-color-teal-600: #2c7a7b;
	--youngs-color-teal-700: #285e61;
	--youngs-color-teal-800: #234e52;
	--youngs-color-teal-900: #1d4044;
	// color-yellow: warning
	--youngs-color-yellow-50: #fffff0;
	--youngs-color-yellow-100: #fefcbf;
	--youngs-color-yellow-200: #faf089;
	--youngs-color-yellow-300: #f6e05e;
	--youngs-color-yellow-400: #ecc94b;
	--youngs-color-yellow-500: #d69e2e;
	--youngs-color-yellow-600: #b7791f;
	--youngs-color-yellow-700: #975a16;
	--youngs-color-yellow-800: #744210;
	--youngs-color-yellow-900: #5f370e;
	// color-red: danger
	--youngs-color-red-50: #fff5f5;
	--youngs-color-red-100: #fed7d7;
	--youngs-color-red-200: #feb2b2;
	--youngs-color-red-300: #fc8181;
	--youngs-color-red-400: #f56565;
	--youngs-color-red-500: #e53e3e;
	--youngs-color-red-600: #c53030;
	--youngs-color-red-700: #9b2c2c;
	--youngs-color-red-800: #822727;
	--youngs-color-red-900: #63171b;
	// color-gray: info
	--youngs-color-gray-50: #e8f3ff;
	--youngs-color-gray-100: #cfd8e3;
	--youngs-color-gray-200: #b5bdcc;
	--youngs-color-gray-300: #97a3b4;
	--youngs-color-gray-400: #7b899d;
	--youngs-color-gray-500: #626f84;
	--youngs-color-gray-600: #4b5768;
	--youngs-color-gray-700: #343e4b;
	--youngs-color-gray-800: #1e2530;
	--youngs-color-gray-900: #070c18;
	// color-orange
	--youngs-color-orange-50: #fffaf0;
	--youngs-color-orange-100: #feebc8;
	--youngs-color-orange-200: #fbd38d;
	--youngs-color-orange-300: #f6ad55;
	--youngs-color-orange-400: #ed8936;
	--youngs-color-orange-500: #dd6b20;
	--youngs-color-orange-600: #c05621;
	--youngs-color-orange-700: #9c4221;
	--youngs-color-orange-800: #7b341e;
	--youngs-color-orange-900: #652b19;
	// color-green
	--youngs-color-green-50: #f0fff4;
	--youngs-color-green-100: #c6f6d5;
	--youngs-color-green-200: #9ae6b4;
	--youngs-color-green-300: #68d391;
	--youngs-color-green-400: #48bb78;
	--youngs-color-green-500: #38a169;
	--youngs-color-green-600: #2f855a;
	--youngs-color-green-700: #276749;
	--youngs-color-green-800: #22543d;
	--youngs-color-green-900: #1c4532;
	// color-cyan
	--youngs-color-cyan-50: #edfdfd;
	--youngs-color-cyan-100: #c4f1f9;
	--youngs-color-cyan-200: #9decf9;
	--youngs-color-cyan-300: #76e4f7;
	--youngs-color-cyan-400: #0bc5ea;
	--youngs-color-cyan-500: #00b5d8;
	--youngs-color-cyan-600: #00a3c4;
	--youngs-color-cyan-700: #0987a0;
	--youngs-color-cyan-800: #086f83;
	--youngs-color-cyan-900: #065666;
	// color-purple
	--youngs-color-purple-50: #faf5ff;
	--youngs-color-purple-100: #e9d8fd;
	--youngs-color-purple-200: #d6bcfa;
	--youngs-color-purple-300: #b794f4;
	--youngs-color-purple-400: #9f7aea;
	--youngs-color-purple-500: #805ad5;
	--youngs-color-purple-600: #6b46c1;
	--youngs-color-purple-700: #553c9a;
	--youngs-color-purple-800: #44337a;
	--youngs-color-purple-900: #322659;
	// color-pink
	--youngs-color-pink-50: #fff5f7;
	--youngs-color-pink-100: #fed7e2;
	--youngs-color-pink-200: #fbb6ce;
	--youngs-color-pink-300: #f687b3;
	--youngs-color-pink-400: #ed64a6;
	--youngs-color-pink-500: #d53f8c;
	--youngs-color-pink-600: #b83280;
	--youngs-color-pink-700: #97266d;
	--youngs-color-pink-800: #702459;
	--youngs-color-pink-900: #521b41;
}
